
body, html {
    background-color: #dadada;
    height: auto;
    width: auto;

  }
  .centered {
    padding: 100px;
    text-align: center;
    width: 100%;
    height: 100%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0F395E;;
    opacity: 0.9;
  }
  .loginbtn{
    background-color:transparent;
    border-style: solid;
    border-width: 1.3px;
    color: #ffffff; 
    border-color: white;
    border-radius: 20px; 
    padding: 5px;
    width: 10rem; 
    height: 2.5rem;
  }
  a{
      color:white;
  }
  .loginbtn:hover{
    background-color: gray;
  }
  .signupbtn{
    background-color: #0F395E; 
    border: #0F395E; 
    color: #ffffff; 
    border-radius: 20px; 
    padding: 5px;
    width: 10rem; 
    height: 2.5rem;
  }
  .signupbtn:hover{
    background-color: gray;
  }